.navbar_border{
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar_border > div:nth-child(1){
    width: 350px;
    height: 100%;
    display: flex;
}

.selector_nda{
    margin-top: -9px;
    margin-left: 8px;
}

.day_hour_logo > button:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}


.day_hour_logo button{
   border: none;
}

.loginBtn{
    width: 80px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 6px;
    background: hsl(160, 92%, 39%);
    color: #fff;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_border > div:nth-child(1) img{
    width: 200px;
    z-index: 10;
    position: relative;
    top: 0px;
}
.navbar_border > div:nth-child(2){
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.notice_icon{
    width: 20px;
}
.all_fun_right_side{
    display: flex;
    margin-left: 70%;
}
a.all_fun_right_side button{
   margin-right: 10px;
}

/* search */
.search_box{
  position: relative;
}
.searchText{
    width: 0px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.search_of_input{
    top: 30%;
    width: 1.5rem;
    position: absolute;
    right: 10px;
}
.search_box > .searchText {
    width: 20rem;
    padding: 20px;
}
