.main{

    display: flex;
    
}

.slider{

    width: 40%;
}

.durationAndprice{

    margin-top: 30px;
    
}

.plancard{

    width: 100%;
    height: 100px;
    display: flex;
    gap: 60%;
}

.duration{

    width: 50%;
}
.price{

    width: 50%;
}
.monthdetails{

    display: flex;
}