.loginBtn{
    width: 80px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 6px;
    background: hsl(160, 92%, 39%);
    color: #fff;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    height: 72px;
    align-items: center;
    background: #FBFCFC;
    max-width: 80%;
    margin: auto;
}
