.net_wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #e9eef2;
  border-radius: 4px;
  margin-bottom: 16px;
  height: 56px;
  width: 55%;
  margin-left: 18px;
  cursor: pointer;
}

.net_green_wapper {
  display: flex;
  align-items: center;
  border: 1px solid #08bd80;
  border-radius: 4px;
  margin-bottom: 16px;
  height: 56px;
  width: 55%;
  margin-left: 18px;
  cursor: pointer;
}

.icici_bank_wrapper {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  position: relative;
  box-sizing: border-box;
  font-family: sans-serif !important;
}

.icici_bank_wrapper img {
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.bank_heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin: 0px;
}

.net_btn {
  position: relative;
  border: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  width: 176px;
  height: 48px;
  min-height: 48px;
  color: white;
  margin-left: 18px;
  user-select: none;
  background-color: #08bd80;

  margin-top: 16px;
}
