.column {
  grid-column: 1/17;
  margin-top: 8px;

  display: flex;
  width: 50%;
  flex-direction: column;
  margin-bottom: 120px;
}

.user_details {
  border-radius: 8px;
  background-color: white;
  padding: 28px 32px;
  margin-bottom: 12px;

  display: flex;
  width: 105%;
  justify-content: space-between;
  box-shadow: 0px 16px 32px 0px var(--color-shadow);
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.payment_wrapper {
  border-radius: 8px;
  width: 105%;
  height: 480px;
  background-color: white;
  padding: 32px 32px 32px 40px;
  margin-bottom: 12px;
  box-shadow: 0px 16px 32px 0px var(--color-shadow);
}

.payment_choose_wraper {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: black;
  margin: 0px;
  font-family: sans-serif !important;
}
.column {
  margin-top: 80px;
  margin-left: 150px;
  margin-bottom: 150px;
}

.user_details h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-text-primary);
  margin: 0px;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
  -webkit-box-pack: justify;
}

.method_wrapper {
  display: flex;
  margin-top: 32px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  word-break: break-word;
  outline: none;
  font-family: sans-serif !important;
  overscroll-behavior: none;
}

.column_1 {
  position: relative;
  background-color: #f1f3f5;
  height: 330px;
  padding: 16px;
  border-radius: 4px;
  z-index: 1;
}

.details {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-text-primary);
  margin: 0px;
  margin-top: 8px;
  font-family: sans-serif !important;
  display: block;
}

body {
  background-color: rgb(247, 245, 245);
}

.picture {
  background-image: url("./pictures/myprofile.png");
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
  cursor: default;
  width: 56px;
  height: 56px;
}

.tab_bkg:focus {
  background-color: white;
  border-radius: 15px;
}

.avatar {
  display: inline-block;
}

.MuiCardHeader-root {
  text-transform: none;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-top: -22px;
}

.card_details_wrapper {
  display: flex;
  width: 108%;
}

.card_details_wrapper .first {
  display: flex;

  align-items: center;

  justify-content: space-between;
  border: 1px solid #e9eef2;
  border-radius: 4px;
  margin-bottom: 16px;
  flex: 1 1 0%;
  padding-left: 16px;
}

.frame {
  height: 56px;
  display: flex;
}

.valid {
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
  color: #7a8b94;
  flex: 1 1 0%;
  font-size: 14px;
  width: 30px;
}

.card_exp_month {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
  height: 56px;
  padding: 16px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 30px;
}

.card_exp_year {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
  height: 56px;
  padding: 16px;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  width: 30px;
  background-color: transparent;
}

.card_number {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-family: sans-serif !important;
  width: 108%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e9eef2;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
}

.slash {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin: 0px;
  color: #3c4852;
  width: 2px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
}

.payment_container input[type="text"] {
  outline: none;
}

.security_code {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-family: sans-serif !important;
  height: 56px;
  border: 1px solid #e9eef2;
  border-radius: 4px;
  margin-left: 10px;
  padding-left: 16px;
}

.pay_btn {
  position: relative;
  border: none;
  display: flex;
  margin-left: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-align: center;
  align-items: center;
  cursor: no-drop;
  border-radius: 6px;
  width: 176px;
  height: 48px;
  min-height: 48px;
  color: #7a8b94;
  user-select: none;
  background-color: rgba(233, 238, 242, 0.4);
  margin-top: 16px;
}

.MuiCardHeader-root {
  padding-bottom: 16px;
  padding-top: 16px;
}

.MuiButtonBase-root-MuiTab-root {
  padding: 12px 0px;
}

.subscription_wrapper {
  grid-column: 17/25;
  margin-top: 80px;
  position: relative;
  width: 27%;
  display: flex;
  margin-left: 70px;
  flex-direction: column;
}

.subscription_inner_wrapper {
  position: relative;
  width: auto;
  margin-bottom: 12px;
  overflow-y: auto;
}

.subscription_first_wrapper {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 12px;

  box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.sub_head_wrapper {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #3c4852;
  margin: 0px;
}

.payment_whole_wrapper {
  top: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  width: 98vw;
  display: flex;
  position: absolute;
  grid-column-gap: 16px;
  background: transparent;
}

.payment_container {
  width: 1136px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-top: 40px;
  min-height: calc(100vh - 56px);
  grid-auto-rows: max-content;
}

.subs_desc_wrapper {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #3c4852;
  margin: 0px;
  margin-top: 4px;
}

.subs_valid_desc {
  display: flex;

  justify-content: space-between;
  margin-top: 8px;
}

.subs_inner_valid_desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #7a8b94;
  margin: 0px;
}

.subs_valid_desc h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin: 0px;
  color: #08bd80;
  cursor: pointer;
  font-family: sans-serif;
}

.refer_wrapper {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
  padding: 16px 24px;
  margin-bottom: 12px;
}

.refer_inner_wrapper {
  display: flex;
}

.gift_wrapper {
  display: flex;
}

.refer_code_wrapper {
  margin-left: 16px;
}

.refer_text_code_wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: #e9eef2;
  border-radius: 6px;
  height: 48px;
  width: 280px;
}

.refer_input_text {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  letter-spacing: inherit;
  animation-duration: 10ms;
  padding: 16px 24px;
}

.coin_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.credits_wrapper {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin: 0px;
  color: #3c4852;

  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.redeem_wrapper {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin: 0px;
  color: #08bd80;
  cursor: pointer;
  text-decoration: none;
}

.fee_wrapper {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 12px;
  box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.amount_subscription_fee {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
}

.sub_fee_amt {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #7a8b94;
  margin: 0px;
}

.hr_divider {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.total_amt {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 0;
}

.total {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #3c4852;
  margin: 0px;
  font-family: sans-serif;
}

.include_tax {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  margin: 0px;
  color: #3c4852;
  display: inline;
}

.total_fee_pay {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  margin: 0px;
  font-family: sans-serif;
}

.discount_wrapper {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
}

.cred_app {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #08bd80;
  margin: 0px;
}

.pay_green_btn {
  position: relative;
  border: none;
  display: flex;
  margin-left: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  width: 176px;
  height: 48px;
  min-height: 48px;
  color: white;
  user-select: none;
  background-color: #08bd80;
  margin-top: 16px;
}

@media only screen and (max-width: 70.95em) {
  .user_details {
    padding: 24px;
  }
}

@media only screen and (max-width: 47.95em) {
  .user_details {
    padding: 16px;
    margin-bottom: 8px;
  }
}
