.column {
  grid-column: 1/17;
  margin-top: 8px;

  display: flex;

  flex-direction: column;
  margin-bottom: 120px px;
}

.user-details {
  border-radius: 8px;
  background-color: white;
  padding: 28px 32px;
  margin-bottom: 12px;

  display: flex;
  width: 56.5%;
  justify-content: space-between;
  box-shadow: 0px 16px 32px 0px var(--color-shadow);
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.payment-wrapper {
  border-radius: 8px;
  width: 56%;
  height: 400px;
  background-color: white;
  padding: 32px 32px 32px 40px;
  margin-bottom: 12px;
  box-shadow: 0px 16px 32px 0px var(--color-shadow);
}

.payment-choose-wraper {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: black;
  margin: 0px;
  font-family: sans-serif !important;
}
.column {
  margin-top: 80px;
  margin-left: 150px;
  margin-bottom: 150px;
}

.user-details h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-text-primary);
  margin: 0px;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
  -webkit-box-pack: justify;
}

.method-wrapper {
  display: flex;
  margin-top: 32px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  word-break: break-word;
  outline: none;
  font-family: sans-serif !important;
  overscroll-behavior: none;
}

.column-1 {
  position: relative;
  width: 188px;
  background-color: #f1f3f5;
  height: 300px;
  padding: 16px;
  border-radius: 4px;
  z-index: 1;
}

.details {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-text-primary);
  margin: 0px;
  margin-top: 8px;
  font-family: sans-serif !important;
  display: block;
}

body {
  background-color: rgb(247, 245, 245);
}

.picture {
  background-image: url("./pictures/myprofile.png");
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
  cursor: default;
  width: 56px;
  height: 56px;
}

.MuiTab-root.Mui-selected {
  background-color: white;
  border-radius: 15px;
  color: black;
  font-weight: 900;
}

.avatar {
  display: inline-block;
}

.MuiCardHeader-root {
  text-transform: none;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-top: -22px;
}

.card-details-wrapper {
  display: flex;
  width: 108%;
}

.card-details-wrapper .first {
  display: flex;

  align-items: center;

  justify-content: space-between;
  border: 1px solid #e9eef2;
  border-radius: 4px;
  margin-bottom: 16px;
  flex: 1 1 0%;
  padding-left: 16px;
}

.frame {
  height: 56px;
  display: flex;
}

.valid {
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
  color: #7a8b94;
  flex: 1 1 0%;
  font-size: 14px;
  width: 30px;
}

.card_exp_month {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
  height: 56px;
  padding: 16px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: -100px;
  width: 30px;
}

.card_exp_year {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
  height: 56px;
  padding: 16px;
  margin: 0;
  padding: 0;
  border: "none";
  width: 30px;
  background-color: transparent;
}

.slash {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin: 0px;
  color: #3c4852;
  width: 2px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
}

input {
  border: 0;
  outline: none;
}

.security_code {
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  font-family: sans-serif !important;
  height: 56px;
  border: 1px solid #e9eef2;
  border-radius: 4px;
  margin-left: 10px;
  padding-left: 16px;
}

.pay-btn {
  position: relative;
  border: none;
  display: flex;
  margin-left: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-align: center;
  align-items: center;
  cursor: no-drop;
  border-radius: 6px;
  width: 176px;
  height: 48px;
  min-height: 48px;
  color: #7a8b94;
  user-select: none;
  background-color: rgba(233, 238, 242, 0.4);
  margin-top: 16px;
}

.MuiCardHeader-root {
  padding-bottom: 16px;
  padding-top: 16px;
}
