@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body{
    font-family: AvertaStd,-apple-system,BlinkMacSystemFont,sans-serif!important;
    color: #3C4852;
}

.searchInput{
    margin-left: 10px;
    width: 100%;
}
h1{
    font-size: 38px;
}
input::placeholder{
    color: #7a8b94;
    font-size: 14px;
    font-family: AvertaStd,-apple-system,BlinkMacSystemFont,sans-serif!important;
}
.inputContainer{
    background-image: linear-gradient(#fff,rgb(229 244 255 / 44%));
    padding-top: 72px;
}
.icon{
    margin-top: 2px;
}
.inputDiv{
    display: flex;
    background: #fff;
    width: 360px;
    padding: 17.8px;
    margin-top: 32px;
}
.searchBox{
    padding-top: 72px;
    max-width: 1136px;
    margin: auto;
    background-image: url(https://static.uacdn.net/production/_next/static/images/goal/managegoal-test-prep-light.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 36px;
}

.titleList{
    padding-bottom: 12px;
    font-size: 14px;
    color: #7A8B94;
}
.sideBar{
    height: 613.6px;
    scroll-behavior: smooth;
    overflow: scroll;
    width: 272px;
    margin: 72px auto;
}

.imgStyle{
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}
.box{
    display: grid;
    grid-template-columns: repeat(3, 272px);
    grid-column-gap: 16px; 
}
.course{
    background: #fff;
    padding: 24px 184px 24px 24px;
    margin-top: 16px;
    box-shadow: 0px 16px 32px rgb(233 238 242 / 40%);
    border-radius: 8px;
}
p{
    font-size: 14px;
    font-weight: 600;
    width: 224px;
}